$choice-color-1: #45a3e5;
$choice-color-2: #66bf39;
$choice-color-3: #eb670f;
$choice-color-4: #ff3355;
$choice-color-5: #E03BE6;
$choice-color-6: #DDBB42;
$choice-color-7: #DFFD40;
$choice-color-8: #CE3D59;

.timer-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    z-index: 100;
}

.timer {
    font-size: 20px;
    background-color: #fff;
}

.flex-choice {
    width: 100%;
}

.flex-choice:nth-child(1) {
    background-color: $choice-color-1
}

.flex-choice:nth-child(2) {
    background-color: $choice-color-2
}

.flex-choice:nth-child(3) {
    background-color: $choice-color-3;
}

.flex-choice:nth-child(4) {
    background-color: $choice-color-4
}

.flex-choice:nth-child(5) {
    background-color: $choice-color-5
}

.flex-choice:nth-child(6) {
    background-color: $choice-color-6
}

.flex-choice:nth-child(7) {
    background-color: $choice-color-7
}

.flex-choice:nth-child(8) {
    background-color: $choice-color-8
}

.mat-button-toggle-checked {
    -webkit-box-shadow: inset 0 0 0 5px #fff;
    -moz-box-shadow: inset 0 0 0 5px #fff;
    box-shadow: inset 0 0 0 5px #fff;
}

.flex-choice {
    box-sizing: border-box;
    font-size: 4vw;
    line-height: 4vw;
    white-space: normal;
    overflow-wrap: normal;
    min-height: 5vw;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comp-image-container {
    width: 100%;
}

.comp-image {
    width: 300px;
}

.sort-container {
    overflow: scroll hidden;
}

.arrow-big-container {
    overflow: auto hidden;
}

.arrow-container {
    min-width: 200px;
}

.sort-list {
    background-color: #eee;
    height: 100%;
    min-width: 200px;
}

.arrow-list {
    margin: 0 5px;
}

.cat-header {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #ccc;
}

.sort-header-container {
    display: flex;
    flex-direction: row;
}

.touch-list-item {
    touch-action: none;
}

.arrow-item-text {
    width: 100%;
    text-align: center;
}

.arrow-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

.grow {
    flex-grow: 1;
}

.horizontal-shuffle-container {
    padding: 20px;
}

.horizontal-shuffle-item {
    margin: 5px;
    text-align: center;
    font-size: 4vw;
    padding: 5px;
    touch-action: none;
}

.text-highlighting {
    font-family: Georgia, serif;
    margin-left: 25px;
    padding-left: 25px;
    border-left: #006ece 5px solid;
    user-select: none;
}

.comp-list-container {
    margin: 10px 0;
}

.comp-list-item {
    font-size: 4vw;
    white-space: nowrap;
    text-align: center;
}

.order-number {
    margin-right: 20px;
}

h1, h3, p {
    margin: 5px;
}
