$choice-color-1: #45a3e5;
$choice-color-2: #66bf39;
$choice-color-3: #eb670f;
$choice-color-4: #ff3355;
$choice-color-5: #E03BE6;
$choice-color-6: #DDBB42;
$choice-color-7: #DFFD40;
$choice-color-8: #CE3D59;

.timer-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    z-index: 100;
}

.timer {
    font-size: 20px;
    background-color: #fff;
}

.choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-choice {
    width: 100%;
}

.flex-choice:nth-child(1) {
    background-color: $choice-color-1
}

.flex-choice:nth-child(2) {
    background-color: $choice-color-2
}

.flex-choice:nth-child(3) {
    background-color: $choice-color-3;
}

.flex-choice:nth-child(4) {
    background-color: $choice-color-4
}

.flex-choice:nth-child(5) {
    background-color: $choice-color-5
}

.flex-choice:nth-child(6) {
    background-color: $choice-color-6
}

.flex-choice:nth-child(7) {
    background-color: $choice-color-7
}

.flex-choice:nth-child(8) {
    background-color: $choice-color-8
}

.mat-button-toggle-checked {
    -webkit-box-shadow: inset 0 0 0 5px #fff;
    -moz-box-shadow: inset 0 0 0 5px #fff;
    box-shadow: inset 0 0 0 5px #fff;
}

.flex-choice {
    box-sizing: border-box;
    flex-grow: 1;
    align-content: flex-start;
    display: flex;
    font-size: 4vw;
    height: 15vw;
    color: #fff;
}

.comp-image-container {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.comp-image {
    width: 300px;
}

.sort-container {
    display: flex;
    flex-direction: row;
}

.sort-list {
    flex-grow: 1;
    flex-basis: 0;
    background-color: #eee;
    margin: 0 5px;
}

.sort-header {
    flex-grow: 1;
    flex-basis: 0;
    background-color: #ccc;
    margin: 0 5px;
}

.sort-header-container {
    display: flex;
    flex-direction: row;
}

.sort-list-item {
    padding: 0;
    height: 48;
}

.horizontal-shuffle-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.horizontal-shuffle-item {
    flex-grow: 1;
    text-align: center;
    font-size: 4vw;
}

.text-highlighting {
    font-family: Georgia, serif;
    margin-left: 25px;
    padding-left: 25px;
    border-left: #006ece 5px solid;
    user-select: none;
}