<timer [timer]="timer"></timer>
<mat-vertical-stepper linear>
    <mat-step [editable]="true" *ngFor="let question of (brick | async)?.questions; let index = index">
        <ng-template matStepLabel>Question {{index+1}}</ng-template>
        <question *ngIf="!brickAttempt?.answers[index].correct" [question]="question" [attempt]="brickAttempt?.answers[index]"></question>
        <div *ngIf="brickAttempt?.answers[index].correct">Question is correct!</div>
    </mat-step>
</mat-vertical-stepper>
<div class="begin-row" style="padding-bottom: 85px;"
    fxLayout="row" fxLayoutAlign="start center">
    <p>When you have finished the brick, click the button.</p>
    <div fxFlex="1 0 0"></div>
    <p class="begin-label">Finish</p><a mat-fab class="fab-bottom" (click)="finishBrick()"><mat-icon>play_arrow</mat-icon></a>
</div>
