.timer-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    z-index: 100;
}

.timer {
    font-size: 20px;
    background-color: #fff;
}

.container {
    padding: 1vw;
    height: 100%;
    bottom: 0;
    background-color: white;
}

.overflow {
    overflow: hidden auto;
}

.score-wheel {
    position: absolute;
    height: 350px;
}

.numbers-container {
    position: absolute;
    height: 350px;
}

.score-percentage {
    font-size: 50px;
}

.score-number {
    font-size: 30px;
}

.data-container {
    margin: 10px;
}

.bottom-container {
    margin-top: auto;
    margin-bottom: 1vh;
}

h1, h3, p {
    margin: 5px;
}
