.fixed-center {
    margin:auto;
}

.spinner-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.back-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.brick-container {
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}

.begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
}