.timer-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    z-index: 100;
}

.timer {
    font-size: 20px;
    background-color: #fff;
}

.flex-choice {
    width: 100%;
}

.flex-choice:nth-child(odd) {
    background-color: #0076b4;
}

.flex-choice:nth-child(even) {
    background-color: #0a3b7e;
}

.mat-button-toggle-checked {
    -webkit-box-shadow: inset 0 0 0 5px #fff;
    -moz-box-shadow: inset 0 0 0 5px #fff;
    box-shadow: inset 0 0 0 5px #fff;
}

.flex-choice {
    box-sizing: border-box;
    font-size: 4vw;
    line-height: 4vw;
    white-space: normal;
    overflow-wrap: normal;
    min-height: 5vw;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comp-image-container {
    width: 100%;
}

.comp-image {
    width: 300px;
}

.sort-container {
    overflow: scroll hidden;
}

.arrow-big-container {
    overflow: auto hidden;
}

.arrow-container {
    min-width: 200px;
}

.sort-list {
    background-color: #eee;
    height: 100%;
    min-width: 200px;
}

.arrow-list {
    margin: 0 5px;
}

.cat-header {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #ccc;
}

.sort-header-container {
    display: flex;
    flex-direction: row;
}

.touch-list-item {
    touch-action: none;
}

/* align text based on the index number of the container */
.arrow-item-text-0 {
    width: 100%;
    text-align: right;
}

.arrow-item-text-1 {
    width: 100%;
    text-align: left;
}

.arrow-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

.grow {
    flex-grow: 1;
}

.horizontal-shuffle-container {
    padding: 20px;
}

.horizontal-shuffle-item {
    margin: 5px;
    text-align: center;
    font-size: 4vw;
    padding: 5px;
    touch-action: none;
}

.text-highlighting {
    font-family: Georgia, serif;
    margin-left: 25px;
    padding-left: 25px;
    border-left: #006ece 5px solid;
    user-select: none;
}

.comp-list-container {
    margin: 10px 0;
}

.comp-list-item {
    font-size: 4vw;
    white-space: nowrap;
    text-align: center;
}

.order-number {
    margin-right: 20px;
}

h1, h3, p {
    margin: 5px;
}

mat-card, mat-list-item {
    cursor: pointer;
}