/**** Handles css for both live and review phases ****/

/*
Appears to be unused - flagged for removal 10/9/2018

.grow {
    flex-grow: 1;
}
*/

/**** Layout ****/
/* See Global stylesheet for brick overrides */

/**** Multiple components ****/

h1, h3, p {
    margin: 5px;
}

mat-card, .sort-list > mat-list-item {
    cursor: pointer;
}

/* Arrow (mat-list-item), HorizontalShuffle (mat-card), Order (mat-list-item), Sort (mat-list-item) */
.touch-list-item {
    touch-action: none;
}

/**** Text Component ****/
.comp-text-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

/**** Poem Component ****/
.comp-poem-container {
    display: flex;
    justify-content: center;
}

/**** Reveal Component ****/
.reveal {
    background:#FFFC7F; 
    color: #000;
    margin-top: 5px;
    padding: 5px;
}

/**** Timer ****/
.timer-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    z-index: 100;
}

.timer {
    font-size: 20px;
    background-color: #fff;
}

/**** Multiple/Single Choice Components ****/
.flex-choice {
    width: 100%;
}

.flex-choice:nth-child(odd) {
    background-color: #0076b4;
}

.flex-choice:nth-child(even) {
    background-color: #0a3b7e;
}

.flex-choice {
    box-sizing: border-box;
    white-space: normal;
    overflow-wrap: normal;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* White box around multiple choices */
.mat-button-toggle-checked {
    -webkit-box-shadow: inset 0 0 0 5px #fff;
    -moz-box-shadow: inset 0 0 0 5px #fff;
    box-shadow: inset 0 0 0 5px #fff;
}

/**** Sort Component ****/
.sort-container {
    // overflow: scroll hidden;
}

.sort-list {
    background-color: #eee;
    min-height: 30px;
    min-width: 200px;
    outline: 2px dashed rgb(83, 83, 83);
    outline-offset: -5px;
}

.cat-header {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #ccc;
    font-weight: bold;
}

.sort-header-container {
    display: flex;
    flex-direction: row;
}

/**** HorizontalShuffle Component ****/
.horizontal-shuffle-container {
    padding: 20px;
}

.horizontal-shuffle-item {
    margin: 5px;
    text-align: center;
    padding: 5px;
    touch-action: none;
}

/**** TextHighlighting Component ****/
.text-highlighting {
    font-family: Georgia, serif;
    margin-left: 25px;
    padding-left: 25px;
    border-left: #006ece 5px solid;
    user-select: none;
}

/**** Order component ****/
.order-number {
    margin-right: 20px;
}


/**** Arrow Component ****/

.arrow-container {
    display: flex;
    justify-content: center;
}

/* drag and drop box around right hand boxes */
.arrow-text-right {
    outline: 1px dashed rgb(83, 83, 83);
    outline-offset: -2px;
}

/* align left column to the right */
.arrow-item-text-left {
    width: 100%;
    text-align: right;

}

/* align right column to the left */
.arrow-item-text-right {
    width: 100%;
    text-align: left;
}

/* Alternating colors on drag and drop */

.arrow-item-left:nth-child(odd) {
    background: #0076b4;
    color: #fff;

}

.arrow-item-left:nth-child(even) {
    background: #111F33;
    color: #fff;
}