<timer [timer]="timer"></timer>
<div class="container" [ngStyle.xs]="{ 'text-align': 'center' }"
    fxLayout="column" *ngIf="(aBrick | async) as brick">
    <h3>{{ brick.subject }}/{{ (aPallet | async)?.name }}/{{ ((brick.type | brickTime)/60000) }} minutes</h3>
    <h1>{{ brick.title }}</h1>

    <div class="overflow">
        <div class="data-container" fxFlexAlign="center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
            <mat-card fxFill class="summary-container" >
                <mat-card-title>
                    Explanatory Review
                </mat-card-title>
                <mat-card-content [innerHTML]="brick.summary"></mat-card-content>
            </mat-card>
            <div class="score-container" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner diameter="300" mode="determinate" [value]="brickAttempt?.score * 100 / brickAttempt?.maxScore"></mat-progress-spinner>
                <div class="numbers-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <div class="score-percentage">{{ (brickAttempt?.score * 100 / brickAttempt?.maxScore) | number:'0.0-0' }}%</div>
                    <div class="score-number">{{ brickAttempt?.score }} / {{ brickAttempt?.maxScore }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="begin-row"
        fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="1 0 0"></div>
        <p class="begin-label">Review Brick Attempt</p><a mat-fab class="fab-bottom" routerLink="../review"><mat-icon>play_arrow</mat-icon></a>
    </div>
    <mat-accordion multi="true">
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Other Information
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p>Creator: {{ brick.creator }}</p>
            </div>
            <div>
                <p>Total Users: {{ brick.totalUsers }}</p>
                <p>average score {{ brick.avgScore }}</p>
                <p>high score {{ brick.highScore }}</p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div style="margin-top: 60px"></div>
</div>
