.container {
    padding: 1vw;
    height: 100%;
    bottom: 0;
    background-color: white;
}

/* hide overflow to stop whitespace on right of summary phase on iphone5 width */
.score-container {
    overflow: hidden;
}

.overflow {
    overflow: hidden auto;
}

.score-wheel {
    position: absolute;
    height: 350px;
}

.numbers-container {
    position: absolute;
    height: 350px;
}

.score-percentage {
    font-size: 50px;
}

.score-number {
    font-size: 30px;
}

.data-container {
    margin: 10px;
}

.begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h3, p {
    margin: 5px;
}
