.example-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #eee;
}

.sidenav {
    width: 20vw;
}

.profile-picture {
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}
