<div class="pallets-container">
    <div class="pallet-header" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <img fxHide.xs src="{{'assets/lflogo-'+(pallet | async)?.subject+'.png'}}" width="50" height="50">
        <h1>{{(pallet | async)?.name}}</h1>
    </div>
    <mat-grid-list cols="6" rowHeight="1:2" gutterSize="5px" class="pallet-list" [ngClass]="'theme-'+(pallet | async)?.subject">
        <mat-grid-tile routerLink="/bricks/{{brick._ref.id}}" fxLayout.gt-xs="column" *ngFor="let brick of bricks | async" [ngClass]="'pallet-tile-'+brick.type" [colspan]="brick.type*brick.type-2*brick.type+3">
            <mat-grid-tile-header>{{brick.title}}</mat-grid-tile-header>
            <a routerLink="/bricks/{{brick._ref.id}}" mat-icon-button>
                <mat-icon style="font-size: 6vw; margin: auto; line-height: 6vw; width: 6vw; height: 6vw;">arrow_forward</mat-icon>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
