.pallets-container {
    width: 100%;
    .pallet-list {
        mat-grid-tile {
            p { margin: 10px; }
            mat-grid-tile-header { text-align: center; width: 100%; }
        }

        margin: 10px;
    }
}