<div class="pallets-container">
    <mat-grid-list cols="6" rowHeight="1:2" gutterSize="5px" class="pallet-list">
        <mat-grid-tile *ngFor="let brick of bricks | async" [ngClass]="'pallet-tile-'+brick.type" [colspan]="brick.type*brick.type-2*brick.type+3">
            <mat-grid-tile-header>{{brick.title}}</mat-grid-tile-header>
            <p>{{brick.brief}}</p>
            <mat-grid-tile-footer>
                <a routerLink="/bricks/{{brick._ref.id}}" mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                </a>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>