<div class="dashboard-container" fxLayout="column">
    <div class="dashboard-profile" fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <img class="mat-elevation-z3" src="{{(auth.user | async)?.photoURL}}" width="200" height="200" fxFlexAlign="center">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quo commodi nostrum porro enim minus fugiat quam? Id, eveniet est praesentium quae eaque adipisci enim maiores ullam, laborum accusamus voluptate.</p>
            <p>Nostrum eos in non quas officiis debitis, vitae laborum neque quidem at numquam dolore commodi saepe vel exercitationem laboriosam! Necessitatibus odit animi vel? Voluptate minima inventore quam saepe et sint.</p>
            <p>Modi unde laboriosam iure? Natus libero cupiditate laudantium incidunt ipsum asperiores, vitae delectus quod totam necessitatibus, odit officia voluptas nam rerum excepturi ex minus beatae vel, quos sed fugit? Totam?</p>
        </div>
    </div>
</div>