.pallets-container {
    max-width: 75vh;
    margin: 0 auto;
    .pallet-list {
        mat-grid-tile {
            p { margin: 10px; }
        }
        margin: 10px;
    }
}

/* To create the right kind of cursor when hovering over cards */
mat-grid-tile mat-card {
    cursor: pointer;
}