<mat-toolbar color="primary">
  <span>Learning Fortress</span>
  <span style="flex:1 1 auto"></span>
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        Hamlet
        <span style="flex:1 1 auto"></span>
        <mat-chip-list selectable="false">
          <mat-chip disabled selected color="accent">English</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <img src="assets/learning-fortress.png" width="500px" />
    <a mat-button routerLink="/brick/lh0pzfSRgVBSZ8UBaDJb">Click Me!</a>
  </mat-sidenav-content>
</mat-sidenav-container>
