$color-english-1: #5BC1FF;
$color-english-2: #0076B4;
$color-english-3: #0A3B7E;
.theme-English {
    .pallet-tile-1 { background-color: $color-english-1; }
    .pallet-tile-2 { background-color: $color-english-2; }
    .pallet-tile-3 { background-color: $color-english-3; color: white; }
}

$color-maths-1: #90E201;
$color-maths-2: #74B501;
$color-maths-3: #0C660C;
.theme-Maths{
    .pallet-tile-1 { background-color: $color-maths-1; }
    .pallet-tile-2 { background-color: $color-maths-2; }
    .pallet-tile-3 { background-color: $color-maths-3; color: white; }
}