/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    margin: 0;
    height: 100%;
}

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    height: 100%;
}

.basic-container {
    padding: 0;
    height: 100%;
}

.mat-button-toggle-button {
    flex: 1 1 100%;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    display: flex;
    background-color: #000;
}

.mat-button-toggle-label-content {
    text-align: center;
    flex: 1 1 100%;
}